h1 {
    border: 2px dashed red;
    background: black;
}

div {
    background: rgb(255, 77, 0);
    max-width: 1200px;
    border: 1px; 
}

p {
    text-align: justify;
    font-size: 20px;
    color: #050505;
    border: 1px; 
}

